<footer class="container-fluid text-center mt-5">
  <a
    class="text-body-secondary"
    href="https://www.linkedin.com/in/anna-baboi-343817235/"
    >Contacts</a
  >
  <div class="text-body-secondary">
    <div class="">© 2023 - All rights reserved</div>
  </div>
</footer>
